@import url('https://fonts.googleapis.com/css?family=Raleway|Share+Tech');
body{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
h2{
  padding: 0px;
  margin: 0px 0px 0px 0px;
  font-family: 'Share Tech', sans-serif;
  font-size: 28px;
  color: #3e3e3e;
}
h3{
  padding: 0px;
  margin: 0px;
  font-family: 'Share Tech', sans-serif;
  font-size: 20px;
  color: #5b5b5b;
}
p{
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  color: #615f5f;
}

/*MENU STYLES*/
.top-menu{
  background-color: #fff;
  height: 10vh;
  padding:0px;
  margin: 0px;
  border-bottom: 1px solid #bdc3c7;
}
.logo{
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.logo img{
  padding: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/*GAME CONTAINER*/
.game-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 90vh;
}
.game-left{
  flex:1;
  background-color: #fff;
  height: 100%;
  border-right: 1px solid #bdc3c7;
}
.game-left-menu{
  height: 10vh;
}
.game-left-menu ul{
  margin: 0px;
  padding: 0px;
  background-color: #ecf0f1;
  display: flex;
  flex-direction: row;
}
.game-left-menu a:last-child{
  border:none;
}
.game-left-menu a{
  margin: 0px;
  padding: 20px 0px;
  list-style: none;
  text-align: center;
  width: 25%;
  flex: 1;
  font-size: 12px;
  text-decoration: none;
  color: #000;
  border-right: 1px solid #bdc3c7;
  background: #ffffff;
  background: -webkit-linear-gradient(#ffffff 0%, #e2e2e2 100%);
  background: -o-linear-gradient(#ffffff 0%, #e2e2e2 100%);
  background: linear-gradient(#ffffff 0%, #e2e2e2 100%);
}
.game-left-menu a:hover{
  background: #fff;
}
.active{
  background: #fff !important;
}
.game-left-container{
  padding:20px 0px;
}
#content0{
  height: 77vh;
  overflow: auto;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px 10px;
}
#content1{
  display: none;
    height: 77vh;
    overflow: auto;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px 10px;
}
#content2{
  display: none;
    height: 77vh;
    overflow: auto;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px 10px;
}
#content3{
  display: none;
    height: 77vh;
    overflow: auto;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px 10px;
}
#content4{
  display: none;
  height: 77vh;
  overflow: auto;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px 10px;
}
.content-info{
  margin-bottom:10px;
}
.game-right{
  flex:1;
  background-color: #ecf0f1;
  box-sizing: border-box;
}
.game-right-row{
  display: flex;
  flex-direction: row;
}
.money-counter{
  text-align: center;
  border-bottom: 1px solid #bdc3c7;
  padding: 10px 0;
}
.date-counter{
  text-align: center;
  border-bottom: 1px solid #bdc3c7;
  padding: 10px 0;
}
.money-counter h2{
  display: inline;
}
.date-counter h2{
  display: inline;
  margin: 0px 10px;
}
.section{
  flex: 1;
  width: 50%;
}
.section img{
  max-width: 100%;
}
.section h3{
  padding: 5px 5px;
  border-bottom: 1px solid #bdc3c7;
}

.inner-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #ecf0f1;
  margin-bottom: 5px;
}
.inner-box-image{
  flex:1;
  margin: 0px;
  padding: 0px;
}
.inner-box-image img{
  margin: 0px;
  padding: 0px;
  height: 100%;
  max-width: 140px;
}
.inner-box-text{
  flex:3;
  padding: 5px 10px;
}
.inner-box-button{
  flex:1;
}
.inner-button{
  border: none;
  height: 100%;
  width: 100%;
  background-color: #d5d5d5;
  font-family: 'Share Tech', sans-serif;
  font-size: 20px;
  color: #3e3e3e;
  cursor: pointer;
}
.inner-button:hover{
  background-color: #e2e1e1;
}
.inner-button:disabled{
  background-color: #e2e1e1;
  cursor:default;
}
