@import url('https://fonts.googleapis.com/css?family=Raleway|Share+Tech');
body{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
h2{
  padding: 0px;
  margin: 0px 0px 0px 0px;
  font-family: 'Share Tech', sans-serif;
  font-size: 28px;
  color: #3e3e3e;
}
h3{
  padding: 0px;
  margin: 0px;
  font-family: 'Share Tech', sans-serif;
  font-size: 20px;
  color: #5b5b5b;
}
p{
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  color: #615f5f;
}


.logo{
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.logo img{
  padding: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/*GAME CONTAINER*/
.game-container{
  height: 100%;
}
@media only screen and (min-width : 768px){
  .game-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
  }
}

#content0{
  height: 85vh;
  overflow: auto;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px 10px;
}
#content1{
  display: none;
  height: 85vh;
  overflow: auto;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px 10px;
}
#content2{
  display: none;
  height: 85vh;
  overflow: auto;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px 10px;
}
#content3{
  display: none;
  height: 85vh;
  overflow: auto;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px 10px;
}
#content4{
  display: none;
  height: 85vh;
  overflow: auto;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px 10px;
}
.content-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  float: left;
  justify-content: space-around;
}
@media only screen and (min-width : 768px){

}
.content-info{
  margin-bottom:10px;
  text-align: center;
}


.inner-box{
  flex: 1;
  background: #f6f7f6;
  margin-bottom: 5px;
  position: relative;
  max-width: 300px;
  min-width: 300px;
  margin: 10px 10px;
  float: left;
}
.inner-box-image{
  margin: 0px;
  padding: 0px;
}
.inner-box-image img{
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.inner-box-text{
  padding: 5px 10px;
  border: 1px solid #bdc3c7;
  height: 200px;
  box-sizing: border-box;
}
.inner-box-text .cost{
  margin: 20px 0;
}
.inner-box-button{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border: 1px solid #bdc3c7;
  box-sizing: border-box;
}
.inner-button{
  height: 100%;
  width: 100%;
  font-family: 'Share Tech', sans-serif;
  font-size: 20px;
  color: #3e3e3e;
  cursor: pointer;
  border: none;
  border-left: 1px solid #bdc3c7;
  background: #ffffff;
  background: -webkit-linear-gradient(#ffffff 0%, #e2e2e2 100%);
  background: -o-linear-gradient(#ffffff 0%, #e2e2e2 100%);
  background: linear-gradient(#ffffff 0%, #e2e2e2 100%);
}
.inner-button:hover{
  background: #fff;
}
.inner-button:disabled{
  background: #fff;
  cursor:default;
}

/* RIGHT SIDE STYLES */
.game-right{
  flex:2;
  background-color: #fff;
  height: 100%;
  max-width: 75%;
  box-sizing: border-box;
}
@media only screen and (max-width : 768px){
  .game-right{
    max-width: 100%;
  }
}
.game-right-container{
  padding:20px 0px;
}
.game-right-menu{
  height: 10vh;
}
.game-right-menu ul{
  margin: 0px;
  padding: 0px;
  background-color: #ecf0f1;
  display: flex;
  flex-direction: row;
}
.game-right-menu a:last-child{
  border:none;
}
.game-right-menu a{
  margin: 0px;
  padding: 20px 0px;
  list-style: none;
  text-align: center;
  width: 20%;
  flex: 1;
  font-size: 12px;
  font-family: 'Raleway' sans-serif;
  text-decoration: none;
  color: #000;
  border-right: 1px solid #bdc3c7;
  background: #ffffff;
  background: -webkit-linear-gradient(#ffffff 0%, #e2e2e2 100%);
  background: -o-linear-gradient(#ffffff 0%, #e2e2e2 100%);
  background: linear-gradient(#ffffff 0%, #e2e2e2 100%);
}
.game-right-menu a:hover{
  background: #fff;
}
.active{
  background: #fff !important;
}

/* GAME LEFT STYLES */
.game-left{
  flex:1;
  background-color: #fff;
  height: 100%;
  max-width: 25%;
  border-right: 1px solid #bdc3c7;
  box-sizing: border-box;
}
@media only screen and (max-width : 768px){
  .game-left{
    max-width: 100%;
  }
}
.game-left h3{
  padding: 5px 5px;
  border-bottom: 1px solid #bdc3c7;
}
.money-counter{
  text-align: center;
  border-bottom: 1px solid #bdc3c7;
  padding: 10px 0;
}
.date-counter{
  text-align: center;
  border-bottom: 1px solid #bdc3c7;
  padding: 10px 0;
}
#income{
  color: #27ae60;
}
#outgoings{
  color: #c0392b;
}
.money-counter h2{
  display: inline;
}
.date-counter h2{
  display: inline;
  margin: 0px 10px;
}
.left-heading{
  padding: 5px;
  margin: 15px 0px 5px 0px;
  width: 100%;
  background-color: #f6f7f6;
  box-sizing: border-box;
}
